/* Styles go here */
:root {
    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #27262C;
    --background: #1a1a1a;
    --error: #CF6679;
    --on-primary: #ad6bff;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-color: white;
}

a,
a::before,
a::after,
a:hover {
    color: white;
    text-decoration: none;
}

.app {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.logo {
    margin: 3rem 0;
}

.navigation {
    min-width: 6rem;
    height: 100vh;
    text-align: center;
    box-shadow: 5px 0px 20px 0px #0000001f;
    z-index: 1;
    background-color: var(--background);
}

.navigation-icons {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 70vh;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.navigation ul li {
    display: flex;
    flex-direction: column;
    align-content: center;
    cursor: pointer;
}

.navigation ul li:hover {
    color: var(--on-primary);
    transition: .2s linear;
}

.nav-text {
    align-self: center;
}

.nav-icon {
    align-self: center;
    margin: 1.2rem 0 0.5rem 0;
}

.profile {
}

.profile-address {

}

.profile-image {

}

.active {
    color: var(--on-primary);
    border-right: 0.2rem solid var(--on-primary) ;
}

.main {
    background-color: var(--secondary);
    flex-grow: 1;
    padding: 3.5rem;
}

.toolbar {
    min-width: 20rem;
    /* background-color: red; */
    text-align: center;
    border-left: 1px solid #dbdbdb;
    border-radius: 20px 0 0 20px;
    box-shadow: -5px 0px 20px 0px #00000099;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    border-bottom: 2px solid #c3c3c3;
    color:white;
}

.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}