/* Styles go here */
:root {
  --primary: #ad6bff;
  --primary-variant: #3700b3;
  --secondary: #27262c;
  --background: #1a1a1a;
  --error: #cf6679;
  --on-primary: #9f51ff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

a,
a::before,
a::after,
a:hover {
  color: white;
  text-decoration: none;
}

.app {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 100vh;
  /* overflow: hidden; */
}

.logo {
  height: 4.5rem;
  margin-right: 1rem;
  width: auto;
}

.navigation {
  min-width: 7rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--background);
}

.navigation-icons {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 70vh;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.navigation ul li {
  display: flex;
  flex-direction: column;
  align-content: center;
  cursor: pointer;
}

.navigation ul li:hover {
  color: var(--on-primary);
  transition: 0.2s linear;
}

.nav-text {
  align-self: center;
}

.active {
  color: var(--on-primary);
  border-right: 0.2rem solid var(--on-primary);
}

.main {
  background-color: var(--secondary);
  flex-grow: 1;
  padding: 3rem;
}

.toolbar {
  min-width: 20rem;
  /* background-color: red; */
  text-align: center;
  border-left: 1px solid #dbdbdb;
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 0px 20px 0px #00000099;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.header-tools {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-address {
  margin-right: 1.5rem;
  font-size: 1rem;
  transition: 0.2s linear;
}

.header-address:hover {
  color: var(--on-primary);
}

.header-image {
  height: 50px;
  width: auto;
  transition: 0.2s linear;
  border-radius: 5rem;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}

.form-group {
  width: 100%;
}

.form-button {
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--primary);
  color: white;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-button:hover {
  background-color: var(--on-primary);
}

.form-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.form-control {
  margin-bottom: 1rem;
  background-color: #0000001c;
  border: 1px solid var(--on-primary);
  border-radius: 0.5rem;
  color: white;
}

.form-control:focus {
  border: 1px solid var(--on-primary);
  background-color: var(--background);
  color: white;
}

.main-bg {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,476,481)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='572' height='476.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  border: 2px dashed var(--on-primary);
  border-radius: 1rem;
}

.table-row {
  background-color: var(--secondary);
  transition: linear 0.2s;
}

.table-row:hover {
  background-color: var(--on-primary);
}

.connect-alert {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  padding: 2rem;
}

.connect-alert-icon {
  height: 3rem;
}

.connect-alert-primary {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--on-primary);
}

.connect-alert-secondary {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.connect-alert-button {
  font-size: 1rem;
  padding: 1rem 4rem;
  border-radius: 1.5rem;
  background-color: var(--primary);
  color: white;
  border: none;
  font-weight: bold;
}

.connect-alert-button:hover {
  background-color: var(--on-primary);
}

.loader-wrapper {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  color: var(--on-primary);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.notfound-alert {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 800;
  color: white;
}

.content-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: white;
}

.content-alert-text {
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.add-button {
  display: flex;
  color: var(--on-primary) !important;
  border: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  transition: linear 0.2s;
  margin-right: 1rem;
  background: var(--secondary);
}

.add-button:hover {
  background: var(--on-primary);
  color: white !important;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  flex-direction: column;
  color: white;
}

.profile-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-address {
  justify-content: center;
  font-size: 1rem;
  transition: 0.2s linear;
  width: 100%;
}

.profile-address:hover {
  color: var(--on-primary);
}

.profile-image {
  height: 3rem;
  width: auto;
  transition: 0.2s linear;
  border-radius: 5rem;
  margin-right: 1rem;
}

.profile-button {
  display: flex;
  background: var(--secondary);
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  transition: linear 0.2s;
}

.profile-button:hover {
  background-color: var(--on-primary);
}

.profile-icon:hover {
  color: var(--on-primary);
}

.search-bar {
  padding: 0 2rem;
  border-radius: 1rem;
  background: transparent;
  height: 2.5rem;
  border: 2px solid var(--primary);
  color: white;
  font-size: 1rem;
  width: 100%;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-input {
  background: transparent;
  border: transparent;
  color: white;
  font-size: 1rem;
  width: 100%;
  padding-left: 0.5rem;
  outline: none;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.button-wrapper-right {
  padding: 0.5rem;
  border-radius: 2rem;
}

.button-wrapper-right > button {
  background: none;
  border: none;
  color: white;
  margin-left: 0.5rem;
  transition: linear 0.4s;
}

.button-wrapper-right > button:hover {
  color: var(--on-primary);
}

.button-wrapper-left > button {
  background: none;
  border: none;
  color: white;
  margin-left: 0.5rem;
  transition: linear 0.4s;
}

.button-wrapper-left {
  display: flex;
}

.button-wrapper-left > button:hover {
  color: var(--on-primary);
}

.table-container {
  height: 70vh;
  overflow: auto;
}

.grid-container {
  margin-top: 2rem;
  display: grid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 1rem;
  width: 100%;
  height: 69vh;
  overflow: auto;
}

.card-container {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  word-wrap: none;
  align-items: center;
  color: white;
  border-radius: 1rem;
  height: 250px;
  width: 250px;
}

.grid-container::-webkit-scrollbar,
.table-container::-webkit-scrollbar {
  width: 0.5em;
}

.grid-container::-webkit-scrollbar-track,
.table-container::-webkit-scrollbar-track {
  box-shadow: 0 0 6px var(--primary);
  border-radius: 1rem;
}

.grid-container::-webkit-scrollbar-thumb,
.table-container::-webkit-scrollbar-thumb {
  background-color: var(--on-primary);
  border-radius: 1rem;
}

.card-container:hover {
  background-color: var(--on-primary);
}

.card-text {
  margin-top: 0.8rem;
  transition: linear 5s;
}

.active {
  color: var(--on-primary) !important;
}

.unactive {
  color: white;
}

.list-wrapper {
  height: 72vh;
  overflow-y: auto;
  margin-top: 1rem;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: white;
  border: 1px solid var(--background);
  border-radius: 1rem;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
}

.list-element {
}
